<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
 
  <!-- Sample Content -->
 <div class="p-6">
  <h1 class="text-3xl font-bold">Welcome to My Gallery</h1>
 </div>
</body>
</html>