<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="output.css">
</head>
<body>
  <header class="w-[100%] h-[60px] bg-slate-600 flex items-center p-5 gap-10">
    <a class="text-white hover:bg-gray-400 hover:text-black transition duration-700 ease-in-out p-1.5 rounded" href="/">Go to Home</a>
    <a class="text-white hover:bg-gray-400 hover:text-black transition duration-700 ease-in-out p-1.5 rounded" href="/add-home-page">Add Home</a>
  </header>
  <main class="w-[100%] flex items-center justify-center">
    <div class="w-[50%] h-[300px] border mt-10 rounded shadow-xl flex items-center justify-center flex-col">
     <h1 class="text-2xl font-bold text-slate-600">Home Registered Successfully</h1>
     <p class="text-2xs text-gray-500">Your home has been addad to our listing</p>
     <a class="border p-2 rounded mt-2  bg-slate-600 text-white hover:bg-gray-400 hover:text-black transition duration-700 ease-in-out" href="/">Return to Home</a>
    </div>
  </main>
</body>
</html>