<%- include('partials/head') %>
</head>
<body>
  <%- include('partials/nav') %>
  <main class="w-[100%] flex items-center justify-center">
    <form action="/showMessage-page" method="POST" class="w-[50%] h-[300px] border mt-10 rounded shadow-xl flex items-center justify-center flex-col">
      <h1 class="text-2xl font-bold">Register Your Home on AiRBnB</h1>
      <input class="outline-none border  w-[48%] p-1 rounded mt-2" type="text" name="houseName" placeholder="Enter Your House Name">
      <input class="border p-1 rounded mt-2 w-[48%] bg-slate-600 text-white hover:bg-gray-400 hover:text-black transition duration-700 ease-in-out" type="submit" value="submit">
    </form>
  </main>
</body>
</html>