<%- include('partials/head') %>
</head>
<body>
<%- include('partials/nav') %>
  <main class="w-[100%] flex items-center justify-center">
    <div class="w-[50%] h-[300px] border mt-10 rounded shadow-xl flex items-center justify-center flex-col">
     <h1 class="text-2xl font-bold text-slate-600">Home Registered Successfully</h1>
     <p class="text-2xs text-gray-500">Your home has been addad to our listing</p>
     <a class="border p-2 rounded mt-2  bg-slate-600 text-white hover:bg-gray-400 hover:text-black transition duration-700 ease-in-out" href="/">Return to Home</a>
    </div>
  </main>
</body>
</html>